<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Chat Client">
      <%= assigns[:page_title] || "WeexChat" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-200 dark:bg-black text-black dark:text-gray-300 font-mono text-sm antialiased">
    <div class="absolute">
      <div class="fixed top-0 mx-auto inset-x-0 peer w-20 h-5 opacity-0"></div>
      <div class="hidden peer-hover:flex hover:flex
         w-[200px]
         flex-col bg-white drop-shadow-lg fixed top-0 mx-auto inset-x-0">
        <%= if @current_user do %>
          <div class="px-5 py-3 bg-gray-400 dark:bg-slate-700 hover:bg-slate-800 focus:bg-slate-800 active:bg-slate-900 text-black dark:text-gray-300">
            <%= @current_user.username %>
          </div>
          <.link
            href={~p"/users/settings"}
            class="px-5 py-3 bg-gray-400 dark:bg-slate-700 hover:bg-slate-800 focus:bg-slate-800 active:bg-slate-900 text-black dark:text-gray-300"
          >
            Settings
          </.link>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="px-5 py-3 bg-gray-400 dark:bg-slate-700 hover:bg-slate-800 focus:bg-slate-800 active:bg-slate-900 text-black dark:text-gray-300"
          >
            Log out
          </.link>
        <% else %>
          <.link
            class="px-5 py-3 bg-gray-400 dark:bg-slate-700 hover:bg-slate-800 focus:bg-slate-800 active:bg-slate-900 text-black dark:text-gray-300"
            href={~p"/users/register"}
          >
            Register
          </.link>
          <.link
            href={~p"/users/log_in"}
            class="px-5 py-3 bg-gray-400 dark:bg-slate-700 hover:bg-slate-800 focus:bg-slate-800 active:bg-slate-900 text-black dark:text-gray-300"
          >
            Log in
          </.link>
        <% end %>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
